# Biblioteca para requisições HTTP
requests

# Bibliotecas para manipulação de dados (caso use PySpark ou Pandas)
pyspark

# Biblioteca oficial do Databricks (opcional, caso use CLI ou API)
databricks-cli
